@import url(../css/public.css);
*{
	font-size: 12px;
	font-family: "微软雅黑","宋体","Arial";
	color: #666;
}
html,body{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}
.big{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}
/**************************************头部*********************************/
.top{
	width: 100%;
	height: 32px;
	background: #E6EEE1;
}
.top1{
	width: 1230px;
	height: 32px;
	margin: 0 auto;
}
.top .top_left{
	float: left;
	height: 32px;
}
.top .top_left a{
	display: block;
	float: left;
	line-height: 32px;
	font-size: 14px;
	margin-right: 20px;
}
.top .top_left a:hover{
	color: #c40000;
	text-decoration: underline;
}
.top .top_right{

	float: right;
	height: 32px;
}
.top .top_right a{
	display: block;
	float: left;
	line-height: 32px;
	font-size: 14px;
	margin-left: 20px;
}
.top .top_right a:hover{
	color: #c40000;
	text-decoration: underline;
}
/**************************************badge*********************************/
.badge{
	width: 100%;
	height: 140px;
}
.badge1{
	width: 1230px;
	height: 140px;
	margin: 0 auto;
}
.badge1 a{
	display: block;
	float: left;
	margin-left: -5px;
	height: 140px;
}
.badge1 img{
	height: 140px;
}
/************************************学院动态*********************************/
.text{
	width: 100%;
}
.text1{
	width: 1230px;
	margin: 0 auto;
}
.text1 span{
	font-size: 18px;
	font-family: "微软雅黑";
	margin-left: 10px;
}
.text1 .new{
	width: 1230px;
	margin: 0 auto;
	padding-top: 30px;
}
.text1 .new a{
	display: block;
	font-size: 16px;
	color: #c40000;
	float: left;
	line-height: 40px;
	margin-bottom: 30px;
}
.text1 .new img{
	width: 370px;
	float: left;
	display: block;
}
.text1 .new .left{
	width: 370px;
	float: left;
	margin-right: 60px;
	text-align: center;
}
.text1 .new .right{
	width: 370px;
	float: left;
}